

name: C++ CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2016]

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    
    - name: Install build tools
      run: pip3 install setuptools wheel
       
    - name: Install conan
      run: |
        unameOut="$(uname -s)"
        case "${unameOut}" in
            MINGW*)     pip3 install conan --upgrade;;
            Linux*)     sudo pip3 install conan --upgrade;;
        esac
      shell: bash

    - name: Run conan
      run: |
        conan remote add conan-center "https://conan.bintray.com" --f
        conan remote add bincrafters "https://api.bintray.com/conan/bincrafters/public-conan" --f
        unameOut="$(uname -s)"
        case "${unameOut}" in
            MINGW*)     conan install . -s build_type=Release --install-folder=build;;
            Linux*)     conan install . -s build_type=Release -s compiler.libcxx=libstdc++11 --install-folder=build;;
        esac
      shell: bash
      
    - name: Configure
      run: |
        unameOut="$(uname -s)"
        case "${unameOut}" in
            MINGW*)     cmake . -G "Visual Studio 15 2017 Win64" -Bbuild -DFMI4CPP_USING_CONAN=TRUE -DFMI4CPP_BUILD_TESTS=ON -DFMI4CPP_BUILD_EXAMPLES=ON;;
            Linux*)     cmake -H. -Bbuild -DFMI4CPP_USING_CONAN=TRUE -DFMI4CPP_BUILD_TESTS=ON -DFMI4CPP_BUILD_EXAMPLES=ON;;
        esac
      shell: bash
      
    - name: Build
      run: |
        unameOut="$(uname -s)"
        case "${unameOut}" in
            MINGW*)     cmake --build build --config Release;;
            Linux*)     cmake --build build;;
        esac
      shell: bash
      
    - name: Test
      run: |
        unameOut="$(uname -s)"
        case "${unameOut}" in
            MINGW*)     cd build/tests && ctest -C Release;;
            Linux*)     cd build/tests && ctest;;
        esac
      shell: bash
